<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Orders are available for today!</h1>
<p>
  ...so if you are hungry - please go to <a href="<%= @url %>">food for thought</a> and make an order there. If you don't get your order created before 11:30am, you won't be on the list and won't get your order!
</p>
<p>
  To unsubscribe to these emails, just follow this link: <%= @url %> and click the disable notifications button.
</p>
</body>
</html>