<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Please make your order!</h1>
<p>
  Our records show you haven't made an order for today yet. If you plan to make one, please make it within 30 minutes, otherwise you may not get on the list!
</p>
<p>
  To make your order, just follow this link: <%= @url %>.
</p>
</body>
</html>