<h1>Order created for <%= @order.name %> <br/></h1>

<h4>Items that were selected for this order</h4>

<%= render :partial =>  'items/items_list',:locals => {:items => @order.items , :show_availability => AvailabilityTypes::NONE } %>
<% #todo remove this order %>