<h1>Order created for <%= @order.name %> <br/></h1>

<h4>Items that were selected for this order</h4>
<div class="row">
  <div class="col-lg-4">
    <%= render :partial => 'items/items_list', :locals => {:items => @order.items, :show_availability => AvailabilityTypeHelper::NONE} %>
    <div class="alert alert-info" style="text-align: center">Total price for this
      order: <%= number_with_delimiter(@order.total_price) %> UGX
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <% if flash[:auth] == @order.id %>
        <div class="well">
          <h4>Is something not right?</h4>
          <%= button_to 'Remove this order and try again', @order, method: :delete, data: {confirm: 'Are you sure you want to delete this order and make a new one?'}, class: 'btn btn-danger' %>
        </div>
    <% end %>
  </div>
</div>