<table border="solid 1">
  <th>
    Name
  </th>
  <th>
    Price
  </th>
  <% unless show_availability == AvailabilityTypes::NONE %>
      <th>
        <%= show_availability == AvailabilityTypes::AVAILABILITY ? "Availability" : "Select choice" %>
      </th>
  <% end %>

  <% items.each do |item| %>
      <tr>
        <td>
          <%= item.name %>
        </td>

        <td>
          <%= item.price %>
        </td>
        <% unless show_availability == AvailabilityTypes::NONE %>
            <td>
              <%= check_box_tag 'items[]', item.id, show_availability == AvailabilityTypes::AVAILABILITY ? item.available : false -%>
            </td>
        <% end %>
      </tr>

  <% end %>

</table>
