<table border="solid 1">
  <th>
    Name
  </th>
  <th>
    Price
  </th>
      <th>
        <%= show_availability ? "Availability" : "Select choice"%>
      </th>

  <% items.each do |item| %>
      <tr>
        <td>
          <%= item.name %>
        </td>

        <td>
          <%= item.price %>
        </td>
            <td>

              <%= check_box_tag 'items[]', item.id, show_availability ? item.available : false -%>
            </td>
      </tr>

  <% end %>

</table>
